*,
*::after,
*::before{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}
p{
  margin: 0 0 10px;
}

body{
  background-color: #fff;
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

a{
  display: inline-block;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Intro */

.intro{
  font-family: 'Roboto', sans-serif;
}

.intro__inner{
  display: flex;
}

.intro__logo{
  margin-right: 20px;
}

.intro__info{
  max-width: 385px;
  width: 100%;
}

.intro__title{
  color: #0b2d50;
  margin-bottom: 10px;
}

.intro__text{
  color: #737373;
}

.intro__link{
  display: flex;
  max-height: 140px;
  height: 100%;
  background: url("../img/map.png");
  background-position: 0px 14px;
  background-repeat: no-repeat;
}

.intro__branch{
  position: relative;
  padding: 75px 0px 0px 55px;
  margin-right: 40px;
  font-size: 15px;
  max-width: 165px;
  width: 100%;
}

.intro__branch img{
  position: absolute;
  left: 19px;
  top: 77px;
}

.intro__about{
  position: relative;
  padding: 75px 0px;
  max-width: 160px;
  width: 100%;
  font-size: 15px;
}

.intro__about img{
  position: absolute;
  left: -35px;
  top: 77px;
}

.intro__branch a,
.intro__about a{
  font-size: 18px;
  color: #2562ad;
  font-weight: 700;
}

/* Intro-header */

.intro-header{
  background: #0b2d50;
  margin-top: 10px;
  padding: 20px 0px 15px;
}

.intro-header__inner{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #4d667f;
  border-bottom: 1px solid #4d667f;
  padding: 0px 15px;
}
.intro-header__inner a{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  padding: 18px 0px;
  transition: text-decoration .1s linear;
}

.intro-header__inner a:hover{
  text-decoration: underline;
}

.breadcrumbs__list{
  margin: 0;
  padding: 15px 0px 0px;
  list-style: none;
  color: #fff;
  font-size: 13px;
}
.breadcrumbs__list__item{
  display: inline-block;
}
.breadcrumbs__list__item-current{
  color: #babdc0;
}
.breadcrumbs__list__item a{
  text-decoration: none;
  color: #fff;
}

.contacts{
  padding: 50px 0px 30px;
}

.contacts__top{
  display: flex;
  justify-content: space-between;
}


.contacts__title-box{
  max-width: 500px;
  padding-left: 140px;
  position: relative;
}

.contacts__title-box::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #0b2d50;
  left: 0;
  top: 11px;
}

.contacts__title h2{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contacts__text{
  font-size: 15px;
}

/* Form-contacts__form */

.form-contacts__form input,
.form-contacts__form select,
.form-contacts__form textarea{
  display: block;
}

.form-contacts__form label{
  line-height: 22px;
}

.form-contacts__form input{
  margin-bottom: 20px;
  max-width: 250px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #212020;
  background-color: #f9f9f9;
  padding: 0px 10px;
}
.form-contacts__form input::placeholder{
  font-size: 14px;
  color: #212020;
}

.form-contacts__form select{
  -webkit-appearance: none;
  appearance: none;
  max-width: 250px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 0px 10px;
  outline: none;
  font-size: 14px;
  color: #212020;
}

.form-contacts__form .select{
  position: relative;
}
.form-contacts__form .select:after{
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  pointer-events: none;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 50%;
  left: 230px;
  margin-top: -3px;
}

.form-contacts__form textarea{
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  outline: none;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #212020;
}

/* Footer-contacts */
