*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

body {
  background-color: #0e0e0e;
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

a {
  display: inline-block;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Contacts */

.contacts {
  padding: 50px 0px 30px;
}

.contacts__top {
  display: flex;
  justify-content: space-between;
}

.contacts__title-box {
  max-width: 500px;
  padding-left: 140px;
  position: relative;
}

.contacts__title-box::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #d6d6d6;
  left: 0;
  top: 11px;
}

.contacts__title h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #d6d6d6;
}

.contacts__text {
  color: #a3a3a3;
  font-size: 15px;
}

/* Form-contacts__form */

.form-contacts__form input, .form-contacts__form select, .form-contacts__form textarea {
  display: block;
}

.form-contacts__form label {
  color: #d6d6d6;
  line-height: 22px;
}

.form-contacts__form input {
  margin-bottom: 20px;
  max-width: 250px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #d6d6d6;
  font-size: 14px;
  color: #4c4c4c;
  background-color: #ebebeb;
  padding: 0px 10px;
}

.form-contacts__form input::placeholder {
  font-size: 14px;
  color: #4c4c4c;
}

.form-contacts__form select {
  -webkit-appearance: none;
  appearance: none;
  max-width: 250px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #ebebeb;
  padding: 0px 10px;
  outline: none;
  font-size: 14px;
  color: #4c4c4c;
}

.form-contacts__form .select {
  position: relative;
}

.form-contacts__form .select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  pointer-events: none;
  border-color: #fdfdfd transparent transparent transparent;
  position: absolute;
  top: 50%;
  left: 230px;
  margin-top: -3px;
}

.form-contacts__form textarea {
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 40px;
  background-color: #ebebeb;
  outline: none;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #4c4c4c;
}

.form-contacts__form .button {
  cursor: pointer;
}
