*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

body {
  background-color: #0e0e0e;
  color: #000000;
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

a {
  display: inline-block;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.default-btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #d6d6d6;
  padding: 8px 30px 8px 24px;
  border: 1px solid #222222;
  border-right-width: 20px;
  position: relative;
  outline: none;
  text-decoration: none;
}

.default-btn::after {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}

/* Services */

.services {
  padding: 50px 0px 30px;
}

.services__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.services__title-box {
  max-width: 500px;
  padding-left: 140px;
  position: relative;
}

.services__title-box::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #d6d6d6;
  left: 0;
  top: 11px;
}

.services__title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #d6d6d6;
}

.services__text {
  color: #a3a3a3;
  font-size: 15px;
}

.services__btn a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #a3a3a3;
  text-decoration: none;
  padding: 5px 35px;
  border: 3px solid #222222;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 360px;
  text-align: center;
  padding: 30px 0px 80px;
  position: relative;
  min-height: 330px;
  background-color: #0f0f0f;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services__item img {
  filter: invert(0.5);
}

.services__item-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #d6d6d6;
  font-weight: 500;
  padding: 15px 0;
}

.services__item-text {
  padding: 0px 30px 30px;
  color: #a3a3a3;
}

.services__item-btn {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.services__item-btn .default-btn {
  color: #d6d6d6;
}

.services__item-btn .default-btn::after {
  color: #d6d6d6;
}

.services__item-link {
  text-decoration: none;
  color: #d6d6d6;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #d6d6d6;
  margin-right: 60px;
}

/* Modal */

#modal {
  display: none;
  width: 300px;
}

#modal input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#modal input[type="submit"] {
  color: #fff;
  background-color: #0b2d50;
  border: none;
}
